<%- include("partials/header.ejs") %>

<div class="snlBlogCont">
  <h2 class="blogTitle"><%= blog.title %></h2>
    <p class="blogContent"><%= blog.content %></p>
  <h4 class="blogAuthor"><%= blog.author %></h4>
  <div id="edlCont">
    <a href="/edit/<%= blog.id %>">
      <button id="edlSubmit" type="submit">Edit</button>
    </a>
    <form action="/delete" method="POST">
      <input type="hidden" name="id" value="<%= blog.id %>">
      <button id="edlSubmit" type="submit">Delete</button>
    </form>
  </div>
</div>

<%- include("partials/footer.ejs") %>